<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>model-router</title>
	<script src="lib/jquery.js"></script>
	<script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script type="template" id="temp">
	<div class='box'>
		<h1><%= title %></h1>
		<img src='<%=  photo %>' width='200' />
		<h2><span><%= fname %> <%= lname %></span></h2>
		<input type='range' value='<%= power %>'/>
	</div>
    </script>   
	<script>	
		var heroModel=Backbone.Model.extend({
			initialize : function(){
                console.log("an instance was created");
            },
            render : function(){
                this.$el.html(this.template(this.heroModel.toJSON()));
                return this;
            },
		});
		var Myrouter=Backbone.Router.extend({
			routes:{
				"":"homefun",
				"batman":"batfun",
				"superman":"superfun"
			},
			homefun:function(){
				console.log("you are in home page");
			},
			batfun:function(){
				$(".box").html(new HeroView({heroModel:bm}).render().el);
				console.log("you are in batman page");
			},
			superfun:function(){
				$(".box").html(new HeroView({heroModel:sm}).render().el);
				console.log("you are in superman page");
			}
		});
		template : _.template($(this.temp).html());
		 var bm = new HeroModel({
            title : "Batman",
            fname : "Bruce",
            lname : "Wayne",
            photo : "batman.jpg",
            power : 7
        });
         var sm = new HeroModel({
            title : "superman",
            fname : "super",
            lname : "man",
            photo : "superman.jpg",
            power : 7
        });
		var mr=new Myrouter();
		Backbone.history.start();
	</script>
	
</head>
<body>
	<div class="box"></div>
</body>
</html>